@charset "UTF-8";

body {
    background-color: rgb(106, 153, 106);
    font-family: Arial, Helvetica, sans-serif;
   
}
h1 {
    color: rgb(4, 86, 4);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: rgb(206, 235, 206);
}

h2 {
    color: rgb(169, 218, 169);
}

.basico {
    color:  rgb(206, 235, 206);

}

.intermediario {
    color: darkgoldenrod;

}

.avancado {
    color: lightcoral;

}